body {
  background-image: url(../img/BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container-header {
  margin-left: 7%;
  margin-right: 7%;
  height: 100%;
}

.header {
    height: 60px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-main-list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  color: #fff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

.header-link:hover{
    color: #3CB878;
}

.header-title-text{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px; /* 100% */
}

.header-title-text:hover{
    color: #3CB878;
}

.header-icon-calendar:hover{
    content: url(../img/calendar-icon-green.svg);
}

.header-icon-mail:hover{
    content: url(../img/open-regular-icon-green.svg);
}

.last-icon-header:hover{
    content: url(../img/compass-icon-green.svg);
}

.header-children-list{
    display: flex;
}

.header-children-list li{
    margin-right: 25px;
}

.last-icon-header{
    border-right: 1px solid white;
    padding-right: 25px;
}

.textBlock-header{
    display: flex;
    align-items: center;
}

.textBlock-header span{
    margin-right: 3px;
}

.container-main{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 10px;
}

.main{
    margin-top: 30px;
    height: 100vh;
}

.main-content-background{
    background: white;
    max-width: 444px;
    max-height: 660px;
    margin-left: 33%;
}

.main-loggining-wrapper{
    padding-top: 30px;
    display: flex;
    align-items: end;
    width: 444px;
}

.main-loggining{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.main-square-design{
    position: absolute;
}

.main-head-sign{
    margin-left: 60px;
    color: #434343;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; /* 100% */
}

.main-head-log-in{
    margin-right: 60px;
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.main-head-log-in:hover{
    color: #01813F;
    text-decoration: underline;
}

.main-signupping-wrapper{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.main-sign-up-box{
    border-radius: 3px;
    width: 157px;
    height: 46px;
    display: flex;
    align-items: center;
}

.signupping-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sign-up-facebook{
    background-color: #305DB8;
    margin-left: 60px;
}

.sign-up-facebook:hover{
    background-color: #022263;
}

.sign-up-google{
    background-color: #DF4A32;
    margin-right: 60px;
}

.sign-up-google:hover{
    background-color: #AB1F09;
}

.main-Logo{
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    border-right: 1px solid black;
}

.logo-Facebook{
    height: 30px;
    border-color: rgba(10, 22, 47, 0.1);
}

.image-facebook{
    height: 24px;
}

.logo-Google{
    height: 35px;
    border-color: rgba(43, 13, 9, 0.1);
}

.image-Google{
    height: 20px;
}

.main-loggining-name{
    width: 109px;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

.main-signup-variant{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.main-form-list{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
}

.main-form-list input{
    padding: 15px 110px 15px 19px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    width: 204px;
}

.headerOf-input-list{
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}

.main-checkbox-agree{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.checkbox-area-text{
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.conditions-text{
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.conditions-text:hover{
    color: #01813F;
    text-decoration: underline;
}

.create-account-wrapper{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.main-button-create-account{
    width: 324px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

.main-button-create-account:hover{
    background-color: #01813F;
}